body{
    background: #E5E5E5;
    overflow: hidden;
}
h1{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    color: #00718A;
    margin-bottom: 60px;
    margin-top: 50px;
}
section{
    position: relative;
    max-width: 1400px;
    margin: auto;
}


section::before , section::after{
    content: '';
    position: absolute;
    background: url(./img/pattern.png) center center/auto no-repeat;
    width: 300px;
    height: 300px;
    top: -40%;
    right: 4%;
    z-index: -1;
    opacity: 0.7;

}
section::after{
    top: auto;
    left: 4%;
    right: auto;
    bottom: -10%;
    transform: rotate(180deg);opacity: 0.5;
}

.slider-list{
    display: flex;
    justify-content: center;
    /* overflow: hidden; */
    min-height: 29rem;
    max-width: 100rem;
    position: relative;
}
.slide{
    display: flex;
    justify-content: center;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: transform 1s;
    z-index: 11;
    position: absolute;
    top: 0;
    width: 70%;
    margin:auto;
    min-height: 24rem;
    overflow: hidden;
}
/* .slide.active{
    transform: scale(1);
} */

.image{
    flex-basis: 35%;
}

.image img{
    height: 100%;
    width: 100%;
}
.time{
    color: #848484;
    font-style: italic;
    margin-bottom: 10px;
    display: block;
}
.desc{
    padding: 40px ;
    flex-basis: 65%;
}
.desc h3{
    margin: 0 0 10px;
    font-size: 24px;
}
.desc p {
    line-height: 22px;
    font-size: 16px;
    color: #333;
}
.dot{
    width: 15px;
    height: 15px;
    background: #C7C7C7;
    margin: 5px;
    cursor: pointer;
    border-radius: 10px;
}

.dot.active{
    background: #00718A;
}

.dots-list{
    margin: 40px 0px;
    display: flex;
    justify-content : center;
}

.arrows{
    display: flex;
    justify-content: space-around;
    position: absolute;
    width: 100%;
    /* bottom: 10px; */
    z-index: -1;
}

.leftBtn, .rightBtn{
    width: 40px;
    height: 40px;
    background: url(./img/left.png);
    cursor: pointer;
}

.rightBtn{
    transform: rotate(180deg);
}